# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tensorbroad_pb_android / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


docs/equations/*.aux
docs/equations/*.log
docs/equations/*.out
docs/equations/*.synctex.gz
code/ch12/mnist
code/datasets/mnist/t10k-images-idx3-ubyte
code/datasets/mnist/t10k-labels-idx1-ubyte
code/datasets/mnist/train-images-idx3-ubyte
code/datasets/mnist/train-labels-idx1-ubyte

.DS_Store
code/datasets/movie/aclImdb_v1.tar.gz

*,cover

pip-wheel-metadata/
share/python-wheels/

.nox/
db.sqlite3-journal

# IPython
profile_default/
ipython_config.py

.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

bin/

scratch/

##
## Add custom entries below here.
##
dst-env/

##
## R Section - See https://github.com/github/gitignore/blob/master/R.gitignore
##

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

##
## Python Section - See https://github.com/github/gitignore/blob/master/Python.gitignore
##

# PyCharm ide files
.idea

## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# MSTest tensorbroad_pb_android Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test_Amat files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JustCode is a .NET coding add-in
.JustCode

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/


# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj



# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Typescript v1 declaration files
typings/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# JetBrains Rider
.idea/
*.sln.iml

# CodeRush
.cr/

*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/
.cache/v/cache/lastfailed
tests/.cache/v/cache/lastfailed


#*.csv
*.zip
*.npz
*.npy
*ubyte.gz


# Binary PyTorch models
*.pt



# TensorFlow_D Checkpoint files
checkpoint
code/*/*.data-?????-of-?????
code/*/*.index
code/*/*.meta
code/model_zoo/tensorflow_ipynb/*.data-?????-of-?????
code/model_zoo/tensorflow_ipynb/*.index
code/model_zoo/tensorflow_ipynb/*.meta
code/model_zoo/tensorflow_ipynb/cifar-10/*


# PyInstaller
#  Usually these files are written by a python script from a template



# Datasets
MNIST*


.~*

*-Copy*.ipynb

*.data
*.dat

.vscode/
*.jar
*.item
#*.pkl
nlp_*.yaml
nohup.out


nlpcube.egg-info/
package/
logs/*
corpus/*

cube/.idea/*
cube/venv/*
.idea/*
venv/*
cube/*.py

models/
tests/scratch/*
scripts/*.json
scripts/*.conllu
scripts/*.md


# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
cube/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
cube/out/


# JIRA plugin
atlassian-ide-plugin.xml

/api/FlaskAPI/FlaskAPI.py
/Artificial_Intelligence/
/Artificial_Intelligence/DeepLearning/
/Artificial_Intelligence/DeepLearning/Tensorflow/
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_1/
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_1/Tensorflow_1.ipynb
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_2/
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_2/Deep Learning with TensorFlow 2.0 Tutorial - Building Your First ANN with TensorFlow 2.0.ipynb
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_2/README.md
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_3_Plotting-Learning-Curve-and-Confusion-Matrix-in/
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_3_Plotting-Learning-Curve-and-Confusion-Matrix-in/Tensorflow_3.ipynb
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_4_How-to-Plot-Learning-Curve-and-Confusion-Matrix-in/
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_4_How-to-Plot-Learning-Curve-and-Confusion-Matrix-in/confusion_matrix_test.png
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_4_How-to-Plot-Learning-Curve-and-Confusion-Matrix-in/README.md
/Artificial_Intelligence/DeepLearning/Tensorflow/TensorFlow_4_How-to-Plot-Learning-Curve-and-Confusion-Matrix-in/TensorFlow_4.ipynb
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_5_Cifar/
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_5_Cifar/README.md
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_5_Cifar/TensorFlow_5_2D_CNN_cifar10_Dataset_Classification.ipynb
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_7/
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_7/README.md
/Artificial_Intelligence/DeepLearning/Tensorflow/Tensorflow_7/TensorFlow_7_Dropout_Batch_Norm_2D_CNN_Image.ipynb
/Artificial_Intelligence/DeepLearning/TensorFlow_D/
/Artificial_Intelligence/DeepLearning/TensorFlow_D/Beginner_Minst_DF_TensorFlow.ipynb
/Artificial_Intelligence/DeepLearning/TensorFlow_D/Fashion_DF_MediumLevel_TensorFlow.ipynb
/Artificial_Intelligence/DeepLearning/TensorFlow_D/regression.ipynb
/Artificial_Intelligence/DeepLearning/TensorFlow_D/TranslatonTensorFlow.ipynb
/Artificial_Intelligence/MachineLearning_D/
/Artificial_Intelligence/MachineLearning_D/Classification/
/Artificial_Intelligence/MachineLearning_D/Classification/Absenteeism_at_work_Project.xls
/Artificial_Intelligence/MachineLearning_D/Classification/Advance_Classification_Basic_Tuning_Cross_validation.ipynb
/Artificial_Intelligence/MachineLearning_D/Classification/model
/Artificial_Intelligence/MachineLearning_D/Classification/plot_roc.ipynb
/Artificial_Intelligence/MachineLearning_D/Excel/
/Artificial_Intelligence/MachineLearning_D/Excel/excel_dataset/
/Artificial_Intelligence/MachineLearning_D/Excel/excel_dataset/Data-analysis-with-pandas/
/Artificial_Intelligence/MachineLearning_D/Excel/excel_dataset/Sample_Excel.ipynb
/Artificial_Intelligence/MachineLearning_D/Handle-Imbalanced-Dataset/
/Artificial_Intelligence/MachineLearning_D/Handle-Imbalanced-Dataset/Handling_Imbalanced_Data_Over_Under_Sampling.ipynb
/Artificial_Intelligence/MachineLearning_D/Regression/
/Artificial_Intelligence/MachineLearning_D/Regression/Linear_regression_with_gradient_descent.py
/Artificial_Intelligence/MachineLearning_D/Regression/R2_score.ipynb
/Artificial_Intelligence/MachineLearning_D/Regression/Regression_1.ipynb
/Artificial_Intelligence/MachineLearning_D/Regression/RegressionBasic.py
/Artificial_Intelligence/MachineLearning_D/Regression/XGBoost_buston_regression.ipynb
/Artificial_Intelligence/MachineLearning_D/breast_cancer_detector.joblib
/Artificial_Intelligence/MachineLearning_D/breast_cancer_detector.pickle
/Artificial_Intelligence/MachineLearning_D/Breast_Cancer_original_Dataset.csv
/Artificial_Intelligence/MachineLearning_D/BreastCancerClassifier_Tuning_Cross_validation.ipynb
/Artificial_Intelligence/MachineLearning_D/FinancialAppBehaviourClassifier.ipynb
/Artificial_Intelligence/MachineLearning_D/Kmeans.py
/Artificial_Intelligence/MachineLearning_D/Logistic_Regression.py
/Artificial_Intelligence/MachineLearning_D/XGBoost.ipynb
/Dataset/
/Dataset/data_banknote_authentication.txt
/Dataset/Testing ksrs
/Deployment/
/Deployment/Ashok/
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/app.py
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/ec2_deploy_notes.txt
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/flaskapp.wsgi
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/index.html
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/Marriage age prediction.ipynb
/Deployment/Ashok/ML_deployment_Flask_AWS_marriage_age_prediction/marriage_age_predict_model.ml
/Deployment/HeroKu_D/
/Deployment/HeroKu_D/predict_price_using_pycaret/
/Deployment/HeroKu_D/predict_price_using_pycaret/static/
/Deployment/HeroKu_D/predict_price_using_pycaret/static/style.css
/Deployment/HeroKu_D/predict_price_using_pycaret/templates/
/Deployment/HeroKu_D/predict_price_using_pycaret/templates/home.html
/Deployment/HeroKu_D/predict_price_using_pycaret/app.py
/Deployment/HeroKu_D/predict_price_using_pycaret/deployment_28042020.pkl
/Deployment/HeroKu_D/predict_price_using_pycaret/Insurance - Model Training Notebook.ipynb
/Deployment/HeroKu_D/predict_price_using_pycaret/Procfile
/Deployment/HeroKu_D/predict_price_using_pycaret/README.md
/Deployment/HeroKu_D/predict_price_using_pycaret/requirements.txt
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/templates/
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/templates/index.html
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/.gitignore
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/app.py
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/LICENSE
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/model.py
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/Procfile
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/README.md
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/request.py
/Deployment/HeroKu_D/Salary_ML_Deploy_Using_Heroku/requirements.txt
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/static/
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/static/styles.css
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/templates/
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/templates/home.html
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/templates/result.html
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/app.py
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/LICENSE
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/Procfile
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/README.md
/Deployment/HeroKu_D/Spam_NLP_Deploy_Using_Heroku/requirements.txt
/Deployment/Machine-Learning-Web-Apps/
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/templates/
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/__init__.py
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/app.yaml
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/main.py
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/README.txt
/Deployment/Machine-Learning-Web-Apps/Deploying ML Flask App to GCP/requirements.txt
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/imgs/
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/imgs/iris_setosa.jpg
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/imgs/iris_versicolor.jpg
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/imgs/iris_virginica.jpg
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/home1.png
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/home2.png
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/home3.png
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/iris_eda_app_streamlit_python_JcharisTech.png
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/screenshots/iris_eda_desc.png
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/app.py
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/iris_app.py
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/iris_setosa.jpg
/Deployment/Machine-Learning-Web-Apps/Iris_EDA_Web_App/README.md
/Deployment/Machine-Learning-Web-Apps/SpamDetector_ML_Package/
/Deployment/Machine-Learning-Web-Apps/SpamDetector_ML_Package/spamdetector/
/Deployment/Machine-Learning-Web-Apps/SpamDetector_ML_Package/__init__.py
/Deployment/Machine-Learning-Web-Apps/SpamDetector_ML_Package/README.md
/Deployment/Machine-Learning-Web-Apps/SpamDetector_ML_Package/Spam Detection with ML.ipynb
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/data/
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/data/TextClassification.ipynb
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/static/
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/static/css/
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/templates/
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/__init__.py
/Deployment/Machine-Learning-Web-Apps/Model_Building_Deployment_Spam-Detector-ML-Flask-App/app.py
/Deployment/Machine-Learning-Web-Apps/__init__.py
/Deployment/Machine-Learning-Web-Apps/README.md
/Deployment/NLP_WEB_BASE_PROJECTS/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/models/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/models/news_classifier.pkl
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/models/sentiment.pkl
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/models/spam.pkl
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/static/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/static/images/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/home.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/layout.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/news.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/sentiment.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/spam.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/templates/summarize.html
/Deployment/NLP_WEB_BASE_PROJECTS/NLP_sentimentAnalysis_spamClassification_textSummarization/app.py
/Deployment/__init__.py
/Ensemble/
/Ensemble/Ensemble_demo.ipynb
/Ensemble/pima-indians-diabetes.csv
/FlaskMail/
/FlaskMail/flask_mail.py
/FlaskMail/README.md
/Images_Open_CV/
/Images_Open_CV/ImageArgumentation_Matplot_D/
/Images_Open_CV/ImageArgumentation_Matplot_D/kiara_advani_image_list/
/Images_Open_CV/ImageArgumentation_Matplot_D/kiara_advani_image_list/Kiara_Advani_ColorName_YlOrRd.png
/Images_Open_CV/ImageArgumentation_Matplot_D/kiara_advani_image_list/Kiara_Advani_ColorName_YlOrRd_r.png
/Images_Open_CV/ImageArgumentation_Matplot_D/Image_Argumentation_Using_Matplotlib.ipynb
/Images_Open_CV/ImageArgumentation_Matplot_D/kiara_advani.jpg
/Images_Open_CV/OCRAssignment/
/Images_Open_CV/OCRAssignment/Assignment/
/Images_Open_CV/OCRAssignment/Assignment/1.png
/Images_Open_CV/OCRAssignment/Assignment/__init__.py
/Images_Open_CV/OCRAssignment/Assignment/create_didgit_sequence.ipynb
/Images_Open_CV/OCRAssignment/Assignment/create_didgit_sequence.py
/Images_Open_CV/OCRAssignment/Assignment/digit.png
/Images_Open_CV/OCRAssignment/Assignment/Minst_TensorFlow.ipynb
/Images_Open_CV/OCRAssignment/Assignment/Minst_TensorFlow.py
/Images_Open_CV/OCRAssignment/Assignment/predict_mnist_model.py
/Images_Open_CV/OCRAssignment/Assignment/README.md
/Images_Open_CV/OCRAssignment/test/
/Images_Open_CV/OCRAssignment/test/advanced.ipynb
/Images_Open_CV/OCRAssignment/test/beginner.ipynb
/Images_Open_CV/OCRAssignment/1.png
/Images_Open_CV/OCRAssignment/__init__.py
/Images_Open_CV/OCRAssignment/Beginner_Minst_DF_TensorFlow.ipynb
/Images_Open_CV/OCRAssignment/create_didgit_sequence.ipynb
/Images_Open_CV/OCRAssignment/digit.png
/Images_Open_CV/OCRAssignment/digit_sequence.py
/Images_Open_CV/OCRAssignment/greeting_card.png
/Images_Open_CV/OCRAssignment/overview.ipynb
/Images_Open_CV/OCRAssignment/test_image.py
/Images_Open_CV/Open_CV2/
/Images_Open_CV/Open_CV2/FaceDetection/
/Images_Open_CV/Open_CV2/FaceDetection/Cascades/
/Images_Open_CV/Open_CV2/FaceDetection/__init__.py
/Images_Open_CV/Open_CV2/FaceDetection/faceDetection.py
/Images_Open_CV/Open_CV2/FaceDetection/faceEyeDetection.py
/Images_Open_CV/Open_CV2/FaceDetection/faceSmileDetection.py
/Images_Open_CV/Open_CV2/FaceDetection/faceSmileEyeDetection.py
/Images_Open_CV/Open_CV2/ResizeMultipleImage/
/Images_Open_CV/Open_CV2/ResizeMultipleImage/__init__.py
/Images_Open_CV/Open_CV2/ResizeMultipleImage/resized_s7.jpg
/Images_Open_CV/Open_CV2/ResizeMultipleImage/ResizeMultipleImage.py
/Images_Open_CV/Open_CV2/ResizeMultipleImage/s7.jpg
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/__init__.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/Camera_Open_Webcam.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/Video_Camera_Color_Filter_Webcam.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/Video_Camera_Edge_Detection.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/Video_Camera_Filter_Bitwise_Operator_Using_Webcam.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Video_Camera_Image/Video_Image_Capture.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/__init__.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Convert_RGB_to_HSV.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Extract_Blue_Green_Red_From_RGB_Image.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Arithmetics.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Bitwise_Operation.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Blur_Smooth.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Blured.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_cropp.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Edge_Detection.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Pyramid_convert_image_small_large.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Resize.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Rotation.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Translation.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Image_Transpose.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Open_CV2_Sample.py
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/sachin.jpg
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Sachin_output.jpg
/Images_Open_CV/Open_CV2/Sample_Test_Open_CV2/Sachin_output.png
/Images_Open_CV/Open_CV2/Watch/
/Images_Open_CV/Open_CV2/__init__.py
/Images_Open_CV/ResizeMultipleImage/
/Images_Open_CV/ResizeMultipleImage/ResizeMultipleImage.py
/Images_Open_CV/ResizeMultipleImage/s7.jpg
/Images_Open_CV/ResizeMultipleImage/s10.jpg
/Images_Open_CV/__init__.py
/Images_Open_Cv/
/Images_Open_Cv/OCRAssignment/
/Images_Open_Cv/OCRAssignment/Assignment/
/Images_Open_Cv/OCRAssignment/Assignment/requirements.txt
/Practice_Key_Points/
/Practice_Key_Points/Final_Practice_Key.ipynb
/Practice_Key_Points/Final_Practice_Key_2.ipynb
/Practice_Key_Points/Graded_Questions_Answers.ipynb
/Practice_Key_Points/Group_By.ipynb
/Practice_Key_Points/Interview_python_coding.ipynb
/Python/
/Python/ISLR-python/
/Python/ISLR-python/Notebooks/
/Python/ISLR-python/Notebooks/Data/
/Python/ISLR-python/Notebooks/Data/Default.xlsx
/Python/ISLR-python/Notebooks/Chapter 4.ipynb
/Python/ISLR-python/Notebooks/Chapter 9.ipynb
/Python/ISLR-python/LICENSE.md
/Python/ISLR-python/README.md
/Python/OopsConceptPython/
/Python/OopsConceptPython/Class_Interview.py
/Python/OopsConceptPython/LIVE_OOP_Basics_Python_I.ipynb
/Python/ProgrammingOla/
/Python/ProgrammingOla/OLA_programing_test/
/Python/ProgrammingOla/OLA_programing_test/OlaCabs/
/Python/ProgrammingOla/OLA_programing_test/OlaCabs/BowlingAlley.py
/Python/ProgrammingOla/Bowling.py
/Python/ProgrammingOla/BowlingGame.py
/Python/ProgrammingOla/PlayerPlaying.py
/Python/PythonFilter_D/
/Python/PythonFilter_D/FilterFunction.py
/Python/PythonFilter_D/MapFunction.py
/Python/PythonFilter_D/ReduceFunction.py
/Python/Test/
/Python/Test/Coding_Practice.ipynb
/Python/Test/Numpy_Practice.ipynb
/Python/Test/Python_DF.ipynb
/Python/Test/Test.ipynb
/Python/How to Plot Learning Curve and Confusion Matrix in TensorFlow 2.0.ipynb
/PythonCrashCourse/
/PythonCrashCourse/PythonCrashCourse.ipynb
/Time_Scheduler_PythonScript/
/Time_Scheduler_PythonScript/hw.py
/Time_Scheduler_PythonScript/kw.py
/Time_Scheduler_PythonScript/Run_Python_Script.bat
/Time_Scheduler_PythonScript/Scheduler_Coding.py
/Time_Scheduler_PythonScript/test.py
